.app-grid {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.app-grid__h1 {
  border-bottom: 1px solid;
  text-align: center;
}

.app-grid__scrollarea {
  overflow-y: auto;
}

.app-grid__nav {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
}
