<main class="app-grid__scrollarea bg-blue">
  <article class="card position-relative p-20 margin-20">
    <button class="position-absolute bookmark">
      <img
        src="../../images/bookmark-7802.svg"
        alt="bookmark"
        width="28"
        height="28"
      />
    </button>

    <h2>Frage</h2>
    <p class="marginleft-20">
      Welche Gürtelfarbe existiert nicht im Kampfsport Karate?
    </p>

    <details class="margin-20">
      <summary></summary>
      <p>Rot</p>
    </details>

    <ul role="list" class="flex flex-wrap gap justify-evenly">
      <li class="padding margin-auto">Schwarz</li>
      <li class="padding margin-auto">Weiß</li>
      <li class="padding margin-auto">Braun</li>
      <li class="padding margin-auto">Rot</li>
    </ul>
  </article>
</main>
