:root {
  --color-dark-blue: #001219;
  --color-green: #005f73;
  --color-green-normal: #0a9396;
  --color-green-light: #94d2bd;
  --color-pastel: #e9d8a6;
  --color-orange: #ee9b00;
  --color-orange-dark: #ca6702;
  --color-ochre: #bb3e03;
  --color-red: #ae2012;
  --color-red-dark: #9b2226;
}
